<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Add Exam</title>
</head>

<body>

<h2 align="center"> Add Exam</h2>
<table align="center" width="200" border="1">
  <tr align="center">
    <form action="/addexam_post" method="post">
    <td>Subject</td>
    <td><input name="subject" type="text" /></td>
  </tr>
  <tr align="center">
    <td>Date</td>
    <td><input name="date" type="date" /></td>
  </tr>
  <tr align="center">
    <td>Time</td>
    <td><input name="time" type="time" /></td>
  </tr>
  <tr align="center">
    <td align="center"><input name="Submit" type="submit" value="Save" /></td>
  </tr>
</table>
</form>
</body>
</html>
