{% extends "Teacher/teacher_index.html"%}
{% block body %}

<body>
	<h4 align="center">Add Question</h4>
	<form method="post" action="/addexamquestion_post" >
    <table class="table align-items-center table-flush table-borderless" >
      <tbody>
    <tr >
      <td  width="124" height="62" colspan="">Question</td>
      <td width="186" rowspan="2"><input type="textarea" rows="3" cols="3" name="question" required  class="form-control"/></td>
    </tr>
    <tr>
      
      
    </tr>
    <tr >
      <td >Option 1</td>
      <td><input type="text" name="option1" required class="form-control" /></td>
    </tr>
    <tr >
      <td>Option 2</td>
      <td><input type="text" name="option2" required class="form-control" /></td>
    </tr>
    <tr >
      <td>Option 3</td>
      <td><input type="text" name="option3" required class="form-control" /></td>
    </tr>
    <tr >
      <td>Option 4</td>
      <td><input type="text" name="option4" required class="form-control" /></td>
    </tr>
    <tr >
      <td><b>Correct Answer</b></td>
      <td><input type="text" name="answer" required class="form-control" /></td>
    </tr>
	  <tr>
      <td colspan="2" align="center"><input type="submit" value="Save" class="btn btn-primary" /></td>
    </tr>
  </tbody>
</table>

	</form>
</body>
{% endblock %}
