{% extends "Teacher/teacher_index.html"%}
{% block body %}

<body>

<h4 align="center"> Add Exam</h4>
<table class="table align-items-center table-flush table-borderless" >
  <tr align="center">
    <form action="/addexam_post" method="post">
    <td>Subject</td>
    <td><input name="subject" class="form-control" type="text" /></td>
  </tr>
  <tr align="center">
    <td>Date</td>
    <td><input name="date" class="form-control" type="date" /></td>
  </tr>
  <tr align="center">
    <td>Time</td>
    <td><input name="time" class="form-control" type="time" /></td>
  </tr>
  <tr align="center">
    <td align="center" colspan="2"><input name="Submit" type="submit" class="btn btn-primary"value="Save" /></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
