{% extends "Teacher/teacher_index.html"%}
{% block body %}


<body>

<h4 align="center"> Edit Exam</h4>
<table class="table align-items-center table-flush table-borderless" >
  <tr >
    <form action="/editexam_post" method="post">
      <input type="hidden" name="ex_id" value="{{ data['ex_id'] }}"  />
    <td>Subject</td>
    <td><input name="subject" type="text" value="{{ data['subject']}}" class="form-control"/></td>
  </tr>
  <tr >
    <td>Date</td>
    <td><input name="date" type="date" value="{{ data['date']}}"  class="form-control"/></td>
  </tr>
  <tr >
    <td>Time</td>
    <td><input name="time" type="time"  value="{{ data['time']}}" class="form-control" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input name="Submit" type="submit" value="Save" class="btn btn-primary"/></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
