{% extends "Teacher/teacher_index.html"%}
{% block body %}

<body>
<h4 align="center">Edit Study Materials</h4>
<table class="table align-items-center table-flush table-borderless" >
  <form method="post" action="/editstudymeterial_post" >
  <tr><input type="hidden" name="m_id" value="{{ data['m_id'] }}"/>
    <td>Subject</td>
    <td><input name="subject" type="text" value="{{ data['subject'] }}"  class="form-control"/></td>
  </tr>
  <!-- <tr>
    <td>File</td>
    <td><input name="file" type="file" /></td>
  </tr> -->
  <tr>
    <td align="center" colspan="2"><input type="submit"  name="submit" class="btn btn-primary"value="Save" /></td>
  </tr>
</table>
</form>
</body>
{% endblock %}
