{% extends "Teacher/teacher_index.html"%}
{% block body %}
<body>
<h4 align="center">Teacher Home page</h4>
<table class="table align-items-center table-flush table-borderless" >

    <tbody>
<tr>
<td><a href="/viewprofile">View Profile</a></td>
</tr>
<tr>
    <td><a href="/studymaterials">Add Study Materials</td>
</tr>
<tr>
    <td><a href="/viewstudymeterial">view Study Materials</td>
</tr>
<tr>
    <td><a href="/addexam">Add Exam</td>
</tr>
<tr>
    <td><a href="/viewexam">View Exam</td>
</tr>

<tr>
    <td><a href="/viewstudent_teacher">View Student</td>
</tr>
</tbody>
</table>
</body>
{% endblock %}