{% extends "Teacher/teacher_index.html"%}
{% block body %}

<body>
   <h4 align="center">View Student</h4>
   <table class="table align-items-center table-flush table-borderless" >
    <tr align="center">
    <td width="84" height="36">Sl No</td>
    <td width="72">Name</td>
    <td width="77">Phone</td>
    <td width="61">Age</td>
    <td width="132">Photo</td>
    <td width="46">Gender</td>
    <td width="81">Standered</td>
    <td width="99">&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr align="center">
    <td>{{ loop.index }}</td>
    <td>{{ i['name'] }}</td>
    <td>{{ i['phone'] }}</td>
    <td>{{ i['age'] }}</td>
    <td><img src="{{ i['photo'] }}" width="132" height="96" /></td></td>
    <td>{{ i['gender'] }}</td>
    <td>{{ i['standered'] }}</td>
    <td width="126">
    <a href="/viewperfomanceteacher/{{ i["log_id"] }}" class="btn btn-info">View Perfomance</a></td>
  </tr>
    {% endfor %}
</table>
</body>
{% endblock %}
