{% extends "Teacher/teacher_index.html"%}
{% block body %}
<body>
	<h4 align="center">View Exam</h4>
  <table class="table align-items-center table-flush table-borderless" >

  <tbody>
    <tr align="center">
      <th width="123">Sl No</th>
      <th width="135">Subject</th>
      <th width="82">Date</th>
      <th width="82">Time</th>
      <th colspan="3">&nbsp;</th>
      
      
    </tr>
    {% for i in data %}
    <tr>
      <td align="center">{{ loop.index }}</td>
      <td align="center">{{ i["subject"] }}</td>
        <td width="82" align="center">{{ i["date"] }}</td>
        <td width="82" align="center">{{ i["time"] }}</td>
        
      <td width="178" align="center"><a href="/deleteexam/{{ i["ex_id"] }}" class="btn btn-danger">Delete</a>
        <a href="/editexam/{{ i["ex_id"] }}" class="btn btn-warning">Edit</a> <br><br>
        <a href="/addexam_question/{{ i["ex_id"] }}" class="btn btn-success">Add Exam Questions</a><br><br>
        <a href="/viewexam_questions/{{ i["ex_id"] }}" class="btn btn-primary">View Exam Questions</a></td>
    {% endfor %}
    </tr>
  </tbody>
</table>

</body>
{% endblock %}
