{% extends "Teacher/teacher_index.html"%}
{% block body %}

<body>
    <table class="table align-items-center table-flush table-borderless" >  <tr>
        <tbody>
    <td colspan="2" >Puzzle Result</td>
  </tr>
  <tr>
    <th width="130" >Total Questions</td>
    <th width="164">Mark</td>
  </tr>
   <tr >
        <td>{{total_pr['COUNT(`pr_id`)']}}</td> 
        <td>{{mark_pr['COUNT(`pr_id`)']}}</td>
    </tr>
</table>
<table class="table align-items-center table-flush table-borderless" >
  <tr>
    <td colspan="2" align="center">Word Result</td>
  </tr>
  <tr>
    <th width="130" align="center">Total Questions</td>
    <th width="164">Mark</td>
  </tr>
  <tr>
            <td>{{total_wr['COUNT(`wr_id`)']}}</td> </td>
            <td>{{mark_wr['COUNT(`wr_id`)']}}</td>
        </tr>
</table>

<table class="table align-items-center table-flush table-borderless" >
  <tr>
    <td colspan="2" align="center">Question Result</td>
  </tr>
  <tr>
    <th width="130">Total Questions</td>
    <th width="164">Mark</td>
  </tr>
  <tr>
        <td>{{total_qr['COUNT(`qr_id`)']}}</td> </td>
        <td>{{mark_qr['COUNT(`qr_id`)']}}</td>
    </tr>
</table>

<table class="table align-items-center table-flush table-borderless" >
  <tr>
    <td colspan="2" align="center">Object Result</td>
  </tr>
  <tr>
    <th width="130">Total Questions</td>
    <th width="164">Mark</td>
  </tr>
    <tr>
        <td>{{total_or['COUNT(`or_id`)']}}</td> </td>
        <td>{{mark_or['COUNT(`or_id`)']}}</td>
    </tr>
</table>

<table class="table align-items-center table-flush table-borderless" >
  <tr>
    <td colspan="2" align="center">Handwriting Result</td>
  </tr>
  <tr>
    <th width="130">Total Questions</td>
    <th width="164">Mark</td>
  </tr>
   <tr>
        <td>{{total_hw['COUNT(`hw_id`)']}}</td> </td>
        <td>{{mark_hw['COUNT(`hw_id`)']}}</td>
    </tr>
</table>

<table class="table align-items-center table-flush table-borderless" >
  <tr>
    <td colspan="2" align="center">Numerical Result</td>
  </tr>
  <tr>
    <th width="130">Total Questions</td>
    <th width="164">Mark</td>
  </tr>
  <tr>
        <td>{{total_nr['COUNT(`nr_id`)']}}</td> </td>
        <td>{{mark_nr['COUNT(`nr_id`)']}}</td>
    </tr>
</table>
</tbody>
</body>
{% endblock %}
