<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>View Profile</title>
</head>
<body>
<form action="/" method="post" enctype="multipart/form-data">
	<table width="205" height="373" border="1" 
		   align="center">
  <tbody>
	  <h1 align="center"> View Profile </h1>
    <tr>
      <td align="center" colspan="2"><img src="{{ i['photo']}}" width="49" height="41"/></td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{ i['name'] }}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{ i['gender'] }}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{ i['phone'] }}</td>
    </tr>
    <tr>
      <td>Date of Birth</td>
      <td>{{ i['dob'] }}</td>
    </tr>
    
    <tr>
      <td>Place</td>
      <td>{{ i['place'] }}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{ i['email'] }}</td>
    </tr>
    <tr>
      <td>Qualification</td>
      <td>{{ i['qualification'] }}</td>
    </tr>
    
    
  </tbody>
</table>

</form>

</body>
</html>
