{% extends "Teacher/teacher_index.html"%}
{% block body %}

<body>
  <p align="right">
    <a href="/addexam_question/{{ session["ex_id"]}}" class="btn btn-info">Add More Questions</a></p>
	<h4 align="center">Exam Questions View</h4>
  <table class="table align-items-center table-flush table-borderless" >
    <tbody>
    <tr  align="center">
      <th  width="72" height="57" align="center">Sl No</th>
      <th width="71">Question</th>
      <th width="50">Option1</th>
      <th width="59">Option2</th>
      <th width="58">Option3</th>
      <th width="59">Option4</th>
      <th width="59">Correct Answer</th>
      <th width="49"></th>
    </tr>
    {% for i in data %}
    <tr align="center">
      <td height="68">{{ loop.index }}</td>
      <td>{{ i["question"] }}</td>
      <td>{{ i["optiona"] }}</td>
      <td>{{ i["optionb"] }}</td>
      <td>{{ i["optionc"] }}</td>
      <td>{{ i["optiond"] }}</td>
      <td>{{ i["answer"] }}</td>
      <td><a href="/editexamquestion/{{ i['exq_id'] }}/{{ i["ex_id"] }}" class="btn btn-warning">Edit</a>
		<a href="/delectexamquestion/{{ i['exq_id'] }}/{{i['ex_id']}}" class="btn btn-danger">Delete</a></td>
    </tr>
   {% endfor %}
  </tbody>
</table>

</body>
{% endblock %}