{% extends "Parent/parent_index.html"%}
{% block body %}

<body>
<form action="/addstudent_post" method="post" enctype="multipart/form-data">
<h4 align="center"> Add Student</h4>

<table class="table align-items-center table-flush table-borderless" >
  <tr>
    <td width="154">Name</td>
    <td width="146"><input type="text" name="name" id="textfield5" class="form-control" /></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><input type="text" name="phone" id="textfield" class="form-control" /></td>
  </tr>
      <tr>
    <td height="51">Age</td>
    <td><input type="text" name="age" id="textfield3" class="form-control"/></td>
  </tr>
</tr>
<tr>
<td height="51">Standered</td>
<td><input type="text" name="standered" id="textfield3" class="form-control" /></td>
</tr>
<tr>
<td height="51">Email</td>
<td><input type="email" name="email" id="textfield3" class="form-control" /></td>
</tr>
  

  <tr>
    <td height="68">Gender</td>
    <td><p>
      <input name="gender" type="radio"  id="textfield4" value="Male" />
      Male
</p>
      <p>
  <input type="radio" name="gender" id="radio" value="Female" />
      Female</p></td>

      <tr>
        <td>Photo</td>
        <td><input type="file" name="photo" id="textfield2" class="form-control" /></td>
      </tr>
 
  <tr>
    <td align="center" colspan="2"><input type="submit" name="button" id="button" value="Submit" class="btn btn-primary"/></td> 
  </tr>
  
</table>

</form>

</body>
{% endblock %}
