{% extends "Parent/parent_index.html"%}
{% block body %}

<body>
<form action="/editstudent_post" method="post" enctype="multipart/form-data">
<h4 align="center"> Edit Student</h4>

<table class="table align-items-center table-flush table-borderless" >
  <tr><input type="hidden" name="s_id" value="{{ data['s_id'] }}"/>
    <td width="154">Name</td>
    <td width="146"><input type="text" name="name" id="textfield5" value="{{ data['name'] }}" class="form-control" /></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><input type="text" name="phone" id="textfield" value="{{ data['phone'] }}" class="form-control" /></td>
  </tr>
      <tr>
    <td height="51">Age</td>
    <td><input type="text" name="age" id="textfield3" value="{{ data['age'] }}" class="form-control" /></td>
  </tr>
  <tr>
    <td height="51">Standered</td>
    <td><input type="text" name="standered" id="textfield3" value="{{ data['standered'] }}" class="form-control" /></td>
  </tr>

  <tr>
    <td>Photo</td>
    <td><input type="file" name="photo" id="textfield2" class="form-control" /></td>
  </tr>
{% if data['gender']=="Male"%}
  <tr>
    <td height="68">Gender</td>
    <td><p>
      <input name="gender" type="radio"  id="textfield4" value="Male" checked/>
      Male
</p>
      <p>
  <input type="radio" name="gender" id="radio" value="Female" />
      Female</p></td>
  </tr>
  {%else %}
  <tr>
    <td height="68">Gender</td>
    <td><p>
      <input name="gender" type="radio"  id="textfield4" value="Male" />
      Male
</p>
      <p>
  <input type="radio" name="gender" id="radio" value="Female" checked />
      Female</p></td>
  </tr>
  {%endif%}

    
  <tr>
    <td align="center" colspan="2"><input type="submit" name="button" id="button" value="Submit" class="btn btn-primary"/></td> 
  </tr>
</table>


</form>
</body>
{% endblock %}
