{% extends "Parent/parent_index.html"%}
{% block body %}
<body>
<h4 align="center">Parent Home Page</h4>
<table class="table align-items-center table-flush table-borderless" >
  <tr>
    <td><a href="/addstudent">Add Student</a></td>
  </tr>
  <tr>
    <td><a href="/viewstudent">View Student</a></td>
  </tr>
  <tr>
    <td><a href="/viewteachers_parent">View Teachers</a></td>
  </tr>
  <tr>
    <td><a href="/changepassword_parent">Change Password</td>
  </tr>
  
</table>


</body>
{% endblock %}