{% extends "Parent/parent_index.html"%}
{% block body %}

<body>
	<h4 align="center">View Teachers </h4>
	<form action="/searchtechers" method="post">
    <table class="table align-items-center table-flush table-borderless" >
      <tbody>
    <tr>
           <td colspan="9" align="right"><input type="text" name="search" class="form-control"/></td><td><input type="submit" value="Search" class="btn btn-success"/></td>

    </tr>
    <tr align="center">
      <td>Sl No</td>
      <td>Name</td>
      <td>DOB</td>
      <td>Gender</td>
      <td>Photo</td>
      <td>Qualification</td>
      <td>Contact</td>
      
    </tr>
    {% for i in data %}
    <tr align="center">
      <td>{{ loop.index }}</td>
      <td>{{ i['name'] }}</td>
      <td>{{ i['dob'] }}</td>
      <td>{{ i['gender'] }}</td>
      <td> <img src="{{ i['photo'] }}" width="132" height="96" /></td>
      <td>{{ i['qualification'] }}</td>
      <td>Phone:- {{i['phone']}}<br>
		Email:-{{i['email']}}</td>
    <td><a href="/par_chat_teacher/{{ i['log_id'] }}" class="btn btn-warning">Chat</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</form>
</body>
{% endblock %}
