<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>View Student Perfomance</title>
</head>
<body>
<div id="puzzle result" >
Puzzle Result
<table>
    <tr>
        <th>Total</th>
        <th>Mark</th>
    </tr>
    <tr>
        <td>{{total_pr['COUNT(`pr_id`)']}}</td> </td>
        <td>{{mark_pr['COUNT(`pr_id`)']}}</td>
    </tr>
</table>
</div>
<div id="Question result">
Question Result
</div>
<div id="object result">
object Result
</div>
<div id="handwriting result">
handwriting Result
</div>
<div id="Numerical result">
Numerical Result
</div>
</body>
</html>
