{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
	<h4 align="center">Add Rhymes</h4>
<form method="post" action="/addrhyme_post" enctype="multipart/form-data">
  <table class="table align-items-center table-flush table-borderless" >

  <tbody>
    <tr>
      <td>Rhyme</td>
      <td><input type="text" name="rhyme" class="form-control" required/></td>
    </tr>
    <tr>
      <td>File</td>
      <td><input type="file" name="file" accept=".docx"  id="real-file" class="form-control" hidden="hidden" required/>
        <button type="button" class="form-control" id="custom-button">Choose a File</button>
        <span id="custom-text">No file chosen, yet.</span></td>
      </td>
    </tr>
   <tr>
      <td colspan="2" align="center" ><input type="submit" class="btn btn-primary"value="Save"/></td>
      
    </tr>
  </tbody>
</table>
</form>
 <!--Photo,Date Menu Js & CSS  -->
 <script>
  const realFileBtn = document.getElementById("real-file");
  const customBtn = document.getElementById("custom-button");
  const customTxt = document.getElementById("custom-text");

  customBtn.addEventListener("click", function () {
      realFileBtn.click();
  });

  realFileBtn.addEventListener("change", function () {
      if (realFileBtn.value) {
          customTxt.innerHTML = realFileBtn.value.match(
              /[\/\\]([\w\d\s\.\-\(\)]+)$/
          )[1];
      } else {
          customTxt.innerHTML = "No file chosen, yet.";
      }
  });
</script>

<style>
  #custom-button {
      padding: 2px;
      color: white;
      font-size: 12px;
      background-color: #fff3;
      border: 1px solid #000;
      border-radius: 5px;
      cursor: pointer;
      height:38px;
      border:  0px solid #e5eaef;
  }

  #custom-button:hover {
      background-color: rgb(165, 115, 115);
  }

  #custom-text {
      margin-left: 10px;
      font-family: sans-serif;
      font-size: 0.8em;
      color: #aaa;
  }
  

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  }
  select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  }

/* For IE10 */
select::-ms-expand {
display: none;
} 
</style>
<!--Photo,Date Menu Js & CSS -->
</body>
{% endblock %}
