{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
	<h4  align="center"> Add Word</h4>
	<form action="/addwords_post" method="post" enctype="multipart/form-data">
		<table class="table align-items-center table-flush table-borderless">
  <tbody>
    <tr>
      <td  align="center">Word</td>
      <td><input type="text" name="word" class="form-control" placeholder="Enter Word Here" required/></td>
    </tr>
    <tr>
      <td colspan="2" align="center" ><input type="submit" class="btn btn-primary" value="Save"/></td>
    </tr>
  </tbody>
</table>

	</form>
</body>
{% endblock %}
