{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
	<h4 align="center">Add Object</h4>
    <form action="/addobject_post" method="post" enctype="multipart/form-data" >
	<table class="table align-items-center table-flush table-borderless" >
  <tbody>
    <tr>
      <td>Name</td>
      <td><input type="text" name="name" class="form-control" required /></td>
    </tr>
    <tr>
      <td>File</td>
      <td><input type="file"  name="file"  required/></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" class="btn btn-primary"value="Save"/></td>
    </tr>
  </tbody>
</table>
    </form>

</body>
{% endblock %}
