{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
	
	<form method="post" action="/addquestion_post" >
    <table class="table align-items-center table-flush table-borderless" >
      <tbody >
        <h4 align="center">Add Question</h4>
    <tr >
      <td width="124" height="34" colspan="">Question</td>
      <td width="186" rowspan="2"><input type="text" rows="3" cols="3" class="form-control" name="question" required /></td>
    </tr>
    <tr>
      
      
    </tr>
    <tr >
      <td >Option 1</td>
      <td><input type="text" name="option1" class="form-control" required /></td>
    </tr>
    <tr >
      <td>Option 2</td>
      <td><input type="text" name="option2" class="form-control" required/></td>
    </tr>
    <tr >
      <td>Option 3</td>
      <td><input type="text" name="option3" class="form-control"required/></td>
    </tr>
    <tr >
      <td>Option 4</td>
      <td><input type="text" name="option4" class="form-control"required/></td>
    </tr>
    <tr >
      <td><b>Correct Answer</b></td>
      <td><input type="text" name="answer" class="form-control"required/></td>
    </tr>
	  <tr>
      <td colspan="2" align="center"><input type="submit" class="btn btn-primary" value="Save"/></td>
    </tr>
  </tbody>
</table>

	</form>
</body>
{% endblock %}
