{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
    
	<h4 align="center">Add Numerical Problems</h4>
	<form method="post" action="/addnumerical_post" enctype="multipart/form-data">
    <table class="table align-items-center table-flush table-borderless" >
      <tbody>
    <tr >
      <td align="center">Question</td>
      <td align="left"><input type="text" name="question" class="form-control" placeholder="Question" required/></td>
    </tr>
    <tr  >
      <td align="center">Answer</td>
      <td align="left"><input type="text" name="answer" class="form-control" placeholder="Answer" required/></td>
    </tr>
    <tr>
      <td colspan="2" align="center" ><input type="submit" value="Save"  class="btn btn-primary"/></td>
    </tr>
  </tbody>
</table>

		
	</form>
	
</body>
{% endblock %}
