{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
	

	<h4 align="center">Edit Image Puzzle</h4>
	<form method="post" action="/editimagepuzzle_post" enctype="multipart/form-data">
    <table class="table align-items-center table-flush table-borderless" >
      <tbody>
   <tr>
      <td colspan="2" align="center"><img src="{{ data["image"]  }}" /> </td>
  </tr>
    <tr><input type="hidden" name="puz_id" value="{{ data['puz_id'] }}"/>
      <td>Puzzle</td>
      <td><input type="text" class="form-control" name="puzzle" value="{{ data['puzzle'] }}" required/> </td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><input type="file" name="photo"   /></td>
    </tr>
    <tr>
      <td>Time to Complete</td>
      <td> <input type="number" name="time" class="form-control" value="{{ data['time'] }}"/>minutes</td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" class="btn btn-primary" value="Save"/></td>
    </tr>
  </tbody>
</table>

	</form>
</body>
{% endblock %}