{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
	<h3 align="center"> Edit Words</h3>
	<form action="/editwords_post" method="post" enctype="multipart/form-data">
    <table class="table align-items-center table-flush table-borderless" >
      <tbody>
    <tr><input type="hidden" name="w_id" value="{{ data['w_id'] }}"/>
      <td>Word</td>
      <td><input type="text" class="form-control" name="word" value="{{ data['word'] }}" required/></td>
    </tr>
    <tr>
      <td colspan="2" align="center" ><input type="submit" class="btn btn-primary"value="Save"/></td>
    </tr>
  </tbody>
</table>

	</form>
</body>
{% endblock %}
