<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Edit Image Puzzle</title>
</head>
<body>
	<h2 align="center">Edit Image Puzzle</h2>
	<form method="post" action="/editimagepuzzle_post" enctype="multipart/form-data">
	<table width="442" height="185" border="3" align="center">
  <tbody>
   <tr>
      <td colspan="2" align="center"><img src="{{ data["image"]  }}" width= "200px" height="200px"/> </td>
  </tr>
    <tr><input type="hidden" name="puz_id" value="{{ data['puz_id'] }}"/>
      <td>Puzzle</td>
      <td><input type="text" name="puzzle" value="{{ data['puzzle'] }}" required/> </td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><input type="file" name="photo" src="{{ data['image'] }}"  /></td>
    </tr>
    <tr>
      <td>Time to Complete</td>
      <td> <input type="number" name="time" value="{{ data['time'] }}"/>minutes</td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" value="Save"/></td>
    </tr>
  </tbody>
</table>

	</form>
</body>
</html>
