{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
  
	<h4 align="center">Home Page</h4>
  <table class="table align-items-center table-flush table-borderless" >

  <tbody>
    <tr>
      <td width="154" align="center"><a href="/addrhymes">Add Rhyme</a></td>
      <td width="164" align="center"><a href="/viewrhymes">View Rhyme </a> </td>
    </tr>
   
    <tr align="center">
      <td align="center"><a href="/viewcomplaint">View Complaint</a></td>
        <td><a href="/viewteachers">View Teachers</a></td>

    </tr>
    <tr>
      <td align="center"><a href="/addquestion">Add Question</a></td>
      <td align="center"><a href="/viewquestion">View Questions </a></td>
    </tr>
    <tr>
      <td align="center"><a href="/addnumericalproblem">Add Numerical Problems</a></td>
      <td align="center"><a href="/viewnumericalproblem">View Numerical Problems</a></td>
    </tr>
    <tr>
      <td align="center"><a href="/addobject">Add Object</a></td>
      <td align="center"><a href="/viewobject">View Object</a></td>
    </tr>
    <tr>
      <td align="center"><a href="/addwords">Add Word</a></td>
      <td align="center"><a href="/viewwords">View Word</a></td>
    </tr>
    <tr>
      <td align="center"><a href="/addimagepuzzle">Add Image Puzzle</a></td>
      <td align="center"><a href="/viewimagepuzzle">View Image Puzzle</a></td>
    </tr>
     <tr>
      <td align="center"><a href="/viewparants">View Parants</a></td>
      <td align="center"><a href="/changepassword">Change Password</a></td>

    </tr>
    <tr>
      <td align="center"><a href="/view_parent_req">View Parent Requests</a></td>
      <td  align="center"><a href="/view_teacher_req">View Teachers Requests</a></td>
    </tr>
  </tbody>
</table>

	
</body>
{% endblock %}