{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
	<h4 align="center">Sent Replay</h4>
		<form action="/sentreply_post" method="post">
      <table class="table align-items-center table-flush table-borderless" >
  <tbody>
    <tr><input type="hidden" name="c_id" value="{{ data['c_id'] }}"/>
      <td>Complaint</td>
      <td>{{ data['complaint'] }}</td>
    </tr>
    <tr>
      <td>Reply</td>
      <td><input type="text" name="reply" class="form-control" /></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" class="btn btn-primary"value="Sent"/></td>
    </tr>
  </tbody>
</table>

		</form>
</body>
{% endblock %}
