<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>View Parants </title>
</head>
	
<body>
	<h1 align="center">View Parants  </h1>
<table width="614" height="181" border="1" align="center">
  <tbody>
    <tr>
      <td>Sl No</td>
      <td>Name</td>
      <td>Gender</td>
      <td>Place</td>
      <td>Phone</td>
      <td>Photo</td>
      <td>Email</td>
      <td>View option</td>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i["name"] }}</td>
      <td>{{ i["gender"] }}</td>
      <td>{{ i["place"] }}</td>
      <td>{{ i["phone"] }}</td>
      <td align="center"><img src="{{ i["photo"]}}" width="106" height="71" /></td>
      <td>{{ i["email"] }}</td>
      <td><a href="/viewstudents/{{ i['log_id'] }}">View Student</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table><br>
	
</body>
</html>
