{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
	<h4 align="center">View Words</h4>
  <table class="table align-items-center table-flush table-borderless" >
    <tbody>

    <tr align="center">
      <td height="42">Sl No</td>
      <td>Words</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in data %}
    <tr align="center">
      <td>{{ loop.index }}</td>
      <td>{{ i["word"] }}</td>
      <td align="center"><a href="/editwords/{{ i["w_id"] }}" class="btn btn-warning">Edit</a>
		<a href="/deletewords/{{ i["w_id"] }}" class="btn btn-danger">Delete</a></td>
        {% endfor %}
    </tr>
  </tbody>
</table>

</body>
{% endblock %}
