{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
	<h4 align="center">View Students</h4>
  <table class="table align-items-center table-flush table-borderless" >
    <tbody>
    <tr>
      <td>Sl No</td>
      <td>Name</td>
      <td>Photo</td>
      <td>Age</td>
      <td>Phone</td>
      <td>Gender</td>

    </tr>
    {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i["name"] }}</td>
      <td><img src="{{ i["photo"]}}" width="106" height="71" /></td>
      <td>{{ i["age"] }}</td>
      <td>{{ i["phone"] }}</td>
      <td>{{ i["gender"] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


</body>
{% endblock %}
