{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
<h4 align="center">View Numerical Problems	</h4>

  <table class="table align-items-center table-flush table-borderless" >
  <tbody>
    <tr>
      <td width="93" height="44" align="center">Sl No</td>
      <td align="center" width="132">Question</td>
      <td align="center" width="115">Answer</td>
      <td align="center" width="80">&nbsp;</td>
    </tr>
    {% for i in data %}
    <tr>
      <td height="70" align="center">{{loop.index}}</td>
      <td align="center">{{ i["question"] }}</td>
      <td align="center">{{ i["answer"] }}</td>
      <td align="center"><a href="/editnumericalproblem/{{ i["num_id"] }}" class="btn btn-warning">Edit</a>
		<a href="/deletenumericalproblem/{{ i["num_id"] }}" class="btn btn-danger">Delete</a></td>
    </tr>
  {% endfor %}
  
</table>

</body>
{% endblock %}
