{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
	<h3 align="center">View Objects</h3>
  <table class="table align-items-center table-flush table-borderless" >
    <tbody>
    <tr>
      <td width="64" height="42" align="center">Sl No</td>
      <td align="center" width="98">Name</td>
      <td align="center" width="80">Photo</td>
      <td align="center" width="139">&nbsp;</td>
    </tr>
     {% for i in data %}
    <tr>
      <td  align="center" height="133">{{ loop.index }}</td>
      <td align="center">{{ i['name'] }}</td>
      <td align="center">  <img src="{{ i["photo"]}}" width="132" height="96" /> </td>
        <td colspan="2" s align="center"><a href="/editobject/{{ i["ob_id"] }}" class="btn btn-warning">Edit</a>

		<a  href="/deleteobject/{{ i["ob_id"] }}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</body>
{% endblock %}
