{% extends "Admin/admin_index.html"%}
{% block body %}

<body>
	<h4 align="center">View Complaints</h4>
  <table class="table align-items-center table-flush table-borderless" >
    <tr>
      <form action="/viewcomplaint_post" method="post"  >
      <td colspan="2">Date From</td>
      <td colspan="2"><input type="date" name="datefrom" class="form-control"/></td>
		  <td colspan="2">Date to</td>
		<td colspan="2"><input type="date" name="dateto" class="form-control"/></td>
	<td colspan="2"><input type="submit" value="Search" class="btn btn-warning"/></td>
    </tr>
</table><br>

<table class="table align-items-center table-flush table-borderless" >
  <tbody>
  
    <tr align="center">
      <td width="67">Sl No</td>
      <td width="76">From</td>
      <td width="41">Date</td>
      <td width="132">Photo</td>
      <td width="83">Complaint</td>
      <td width="44">Replay</td>
    </tr>
     {% for i in data %}
    <tr align="center">
      <td>{{ loop.index }}</td>
      <td>{{ i["name"] }}</td>
      <td>{{ i["date"] }}</td>
      <td> <img src="{{ i["photo"]}}" width="100" height="100" /></td>
      <td>{{ i["complaint"] }}</td>
        {% if i["reply"]=="pending" %}
      <td><a href="/sentreplay/{{ i['c_id'] }}" class="btn btn-success">Replay</a></td>
    {% else %}
    <td>{{ i["reply"] }}</td>
    {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table><br>

		
</form>
</body>
{% endblock %}
