{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
	<h4 align="center">View Rhymes</h4>
  <table class="table align-items-center table-flush table-borderless" >

  <tbody>
    <tr align="center">
      <th  width="101">Sl No</th>
      <th  width="111">Rhyme</th>
      <th colspan="2">&nbsp;</th>
      
      
    </tr>
    {% for i in data %}
    <tr align="center">
      <td align="center">{{ loop.index }}</td>
      <td align="center">{{ i["name"] }}</td>
        <td width="63" align="center"><a href="{{ i["file"] }}" download class="btn btn-primary">Download</a></td>

      <td width="54" align="center"><a href="/deleterhyme/{{ i["r_id"] }}" class="btn btn-danger">Delete</a></td>
    {% endfor %}
    </tr>
  </tbody>
</table>

</body>
{% endblock %}
