{% extends "Admin/admin_index.html"%}
{% block body %}
<body>
	<h4 align="center">View Image Puzzle </h4>
  <table class="table align-items-center table-flush table-borderless" >
    <tbody>
    <tr align="center">
      <td  width="46">Sl No</td>
      <td  width="77">Puzzle</td>
      <td  width="121">Image</td>
      <td  width="70">Time</td>
      <td width="137">&nbsp;</td>
    </tr>
     {% for i in data %}
    <tr align="center">
      <td>{{ loop.index }} </td>
      <td>{{ i['puzzle'] }}</td>
      <td> <img src="{{ i["image"]}}" width="132" height="96" /></td>
      <td>{{ i['time'] }}</td>
      <td align="center"><a href="/editimagepuzzle/{{ i["puz_id"] }}" class="btn btn-warning">Edit</a>
		<a href="/deleteimagepuzzle/{{ i["puz_id"] }}" class="btn btn-danger">Delete</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</body>
{% endblock %}