{% extends "Admin/admin_index.html"%}
{% block body %}
	
<body>
	<h4 align="center">View Parants  </h4>
  <table class="table align-items-center table-flush table-borderless" >
    <tbody>
    <tr>
      <td>Sl No</td>
      <td>Name</td>
      <td>Gender</td>
      <td>Place</td>
      <td>Phone</td>
      <td>Photo</td>
      <td>Email</td>
      <td>View option</td>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i["name"] }}</td>
      <td>{{ i["gender"] }}</td>
      <td>{{ i["place"] }}</td>
      <td>{{ i["phone"] }}</td>
      <td align="center"><img src="{{ i["photo"]}}" width="106" height="71" /></td>
      <td>{{ i["email"] }}</td>
      <td><a href="/viewstudents/{{ i['log_id'] }}" class="btn btn-warning">View Student</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table><br>
	
</body>
{% endblock %}
