<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>View Students</title>
</head>
<body>
	<h2 align="center">View Students</h2>
	<table width="200" border="1" align="center">
  <tbody>
    <tr>
      <td>Sl No</td>
      <td>Name</td>
      <td>Photo</td>
      <td>Age</td>
      <td>Phone</td>
      <td>Gender</td>

    </tr>
    {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i["name"] }}</td>
      <td><img src="{{ i["photo"]}}" width="106" height="71" /></td>
      <td>{{ i["age"] }}</td>
      <td>{{ i["phone"] }}</td>
      <td>{{ i["gender"] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


</body>
</html>
