<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>login</title>
</head>
<body>
	<h2 align="center">Login</h2>
<form action="login_post" method="post">
    <table width="200" border="1" align="center">
  <tbody>
    <tr>
      <td>Username</td>
      <td><input type="email" name="username" required/></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="password" required/></td>
    </tr>
    <tr>
      <td colspan="2" align="center">&nbsp;<input type="submit" value="Login"></td>
     
    </tr>
    <tr>
    
    <td colspan="2" align="center"><a href="/teachersignup">Are You a Teacher? signup here !!</a></td>
    </tr>
    <tr>
     <td colspan="2" align="center"><a href="/parentsignup">Are You a Parent? signup here !!</a></td>
    </tr>
	</tbody>
</table>
</form>

</body>
</html>
